@import "../node_modules/@fontsource/nunito-sans/index.css";
.mainHeader__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
}
.mainHeader__container__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainHeader__container__main__logo {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainHeader__container__main__logo__img {
  width: 100%;
  vertical-align: middle;
}
.mainHeader__container__main__navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainHeader__container__main__navContainer__nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainHeader__container__main__navContainer__nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
.mainHeader__container__main__navContainer__nav__list__item {
  margin: 0 1rem;
}
.mainHeader__container__main__navContainer__nav__list__item__link {
  text-decoration: none;
  color: #444;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.3s;
}
.mainHeader__container__main__navContainer__nav__list__item__link.active, .mainHeader__container__main__navContainer__nav__list__item__link:hover {
  padding-bottom: 10px;
  border-bottom: 3px solid #ff0000;
  color: #0044ff;
}
.mainHeader__container__secondary {
  display: flex;
  padding-left: 10px;
  border-left: 0.5px solid #ccc;
}
.mainHeader__container__secondary__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainHeader__container__secondary__search__input {
  padding: 0.5rem;
  border: none;
  margin-right: 1rem;
}
.mainHeader__container__secondary__search__input::placeholder {
  color: #ccc;
}
.mainHeader__container__secondary__search__input:focus {
  outline: none;
}
.mainHeader__container__secondary__search__button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: #0044ff;
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s;
}
.mainHeader__container__secondary__search__button:hover {
  color: #ff0000;
}
.mainHeader__container__secondary__responsive {
  display: none;
}
.mainHeader__container__secondary__responsive__button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: #0044ff;
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s;
}
.mainHeader__container__secondary__responsive__button:hover {
  color: #ff0000;
}
.mainHeader__mobile {
  display: none;
}
.mainHeader__mobile__main {
  display: grid;
  grid-template-columns: 1fr 10fr;
  width: 100%;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}
.mainHeader__mobile__main__logo {
  width: 75px;
  height: 75px;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainHeader__mobile__main__logo__img {
  width: 100%;
  vertical-align: middle;
}
.mainHeader__mobile__main__container {
  display: none;
  grid-template-columns: 1fr;
}
.mainHeader__mobile__main__container__logo {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainHeader__mobile__main__container__logo__img {
  width: 75px;
  vertical-align: middle;
}
.mainHeader__mobile__main__container__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainHeader__mobile__main__container__search__input {
  padding: 0.5rem;
  border: none;
  text-align: center;
  margin-right: 1rem;
}
.mainHeader__mobile__main__container__search__input::placeholder {
  color: #ccc;
}
.mainHeader__mobile__main__container__search__input:focus {
  outline: none;
}
.mainHeader__mobile__main__container__search__button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: #0044ff;
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s;
}
.mainHeader__mobile__main__container__search__button:hover {
  color: #ff0000;
}
.mainHeader__mobile__main__container__nav__list {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.mainHeader__mobile__main__container__nav__list__item {
  margin: 1rem 1rem;
}
.mainHeader__mobile__main__container__nav__list__item__link {
  text-decoration: none;
  color: #444;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.3s;
}
.mainHeader__mobile__main__container__nav__list__item__link.active, .mainHeader__mobile__main__container__nav__list__item__link:hover {
  padding-bottom: 10px;
  border-bottom: 3px solid #ff0000;
  color: #0044ff;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .mainHeader__container {
    display: none;
  }
  .mainHeader__mobile {
    display: flex;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .mainHeader__container__secondary__search {
    display: none;
  }
  .mainHeader__container__secondary__responsive {
    display: flex;
  }
}
.mainFooter {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #0044ff;
}
.mainFooter__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
}
.mainFooter__container__main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.mainFooter__container__main__copyright {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.mainFooter__container__main__navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainFooter__container__main__navContainer__nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainFooter__container__main__navContainer__nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
.mainFooter__container__main__navContainer__nav__list__item {
  margin: 0 1rem;
}
.mainFooter__container__main__navContainer__nav__list__item__link {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.3s;
}
.mainFooter__container__main__navContainer__nav__list__item__link.active, .mainFooter__container__main__navContainer__nav__list__item__link:hover {
  padding-bottom: 10px;
  border-bottom: 3px solid #ff0000;
}
.mainFooter__container__main__navContainer__nav__list__item__button {
  background: none;
  border: none;
  padding: 0;
  outline: none;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.3s;
}
.mainFooter__container__main__navContainer__nav__list__item__button.active, .mainFooter__container__main__navContainer__nav__list__item__button:hover {
  padding-bottom: 10px;
  border-bottom: 3px solid #ff0000;
}
.mainFooter__container__main__mobile {
  display: none;
}
.mainFooter__container__main__mobile__backToTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainFooter__container__main__mobile__backToTop__button {
  background: none;
  border: none;
  padding: 0;
  outline: none;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.3s;
}
.mainFooter__container__main__mobile__backToTop__button.active, .mainFooter__container__main__mobile__backToTop__button:hover {
  padding-bottom: 10px;
  border-bottom: 3px solid #ff0000;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .mainFooter__container__main__navContainer {
    display: none;
  }
  .mainFooter__container__main__mobile {
    display: flex;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .mainFooter__container__main__navContainer {
    display: none;
  }
  .mainFooter__container__main__mobile {
    display: flex;
  }
}
.homepage__hero {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
.homepage__hero__container {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 0.5rem;
}
.homepage__hero__container__subtext1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.homepage__hero__container__title {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
}
.homepage__hero__container__title .titleName1 {
  display: flex;
  width: 100%;
  justify-content: center;
  text-transform: uppercase;
  color: #0044ff;
  background-color: #fff;
}
.homepage__hero__container__title .titleName2 {
  display: flex;
  width: 100%;
  justify-content: center;
  color: #fff;
  background-color: #ff0000;
}
.homepage__hero__container__dash {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage__hero__container__dash__line {
  width: 10%;
  height: 2px;
  background-color: #fff;
  margin: 0 1rem;
}
.homepage__hero__container__subtext2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.homepage__hero__container__buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}
.homepage__hero__container__buttons__button {
  background-color: #0044ff;
  color: #fff;
  padding: 1rem 3rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
}
.homepage__hero__container__buttons__button.secondary {
  background-color: #ff0000;
}

html, body {
  overflow: auto;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=index.css.map */
